* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #4c4f54;
  opacity: 0.9;
}

.header-logo {
  font-size: 3.5rem;
  font-weight: 600;
  cursor: default;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: center;
  width: 50%;
}
.navbar li {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 5.5rem;
  cursor: pointer;
}

.navbar .active,
.navbar li:hover {
  color: var(--main-color);
}
li {
  list-style-type: none;
}
.header-logo span {
  color: var(--main-color);
  font-size: 4.1rem;
}
